.TopicNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  overflow: hidden;
  margin: 0 0 2vh 0;
}

.topic {
  margin: 0 9px;
}

.topic:hover {
  cursor: pointer;
}

.topic-icon {
  color: var(--yahoo-color);
}

.topic > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.topic label {
  color: var(--yahoo-color);
  font-weight: 700;
  font-size: 0.85rem;
  white-space: nowrap;
}

.topic a:hover {
  text-decoration: underline;
}
