.header {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 56px;
  padding: 0 16px;
}

.header-left {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.youtube-img {
  width: 80px;
  height: 24px;
  object-fit: contain;
}

.header-search {
  flex: 4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-wrapper {
  display: flex;
  flex: 0 1 728px;
  justify-content: center;
}
.search-container {
  width: 36vw;
  padding: 3px 6px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 2px 0 0 2px;
  box-shadow: inset 0 1px 2px #eee;
}

.search-input {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: inherit;
  font-family: "Roboto", "Noto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 4px;
  max-width: 100%;
  outline: none;
  text-align: inherit;
  width: 100%;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d3d3d3;
  background-color: #f8f8f8;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  width: 56px;
}
.search-icon {
  width: 20px;
  height: 20px;
  color: #333;
  opacity: 0.6;
}

.header-right {
  flex: 1.6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-right-icon {
  color: #606060;
  width: 40px;
  height: 40px;
  padding: 8px;
}

.header-right-icon:hover {
  cursor: pointer;
}

.profile-image {
  margin-left: 20px;
  object-fit: contain;
  width: 32px;
  height: 32px;
  border-radius: 35px;
}
