* {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 100vh;
  font-size: 10px;
  font-family: Roboto, Arial, sans-serif;
}

.main-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.side-nav-container {
  flex: 1;
}

.main-content-container {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
}

.video-content-header {
  color: #303030;
  font-size: 24px;
  font-weight: 800;
  line-height: 2rem;
  margin: 12px 18px 6px 18px;
  align-self: flex-start;
}

.video-content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 80vh;
  overflow-y: scroll;
}
