.news-board {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  overflow: hidden;
}

.top-news {
  display: flex;
  flex-direction: row;
  background: linear-gradient(90deg, #cbcaa5, #334d50);
}

.top-news-img {
  object-fit: contain;
  height: 300px;
}

.top-news-description {
  color: #ffffff;
  max-height: 300px;
  min-width: 360px;
}

.top-news-wrapper {
  padding: 32px;
}

.top-news-description h2 {
  font-size: 1.2rem;
  margin-bottom: 13px;
}

.top-news-description p {
  font-size: 0.8rem;
  margin: 0 0 13px;
  text-overflow: ellipsis;
}

.top-news-description span {
  font-size: 1rem;
  font-weight: 600;
}

.sub-news ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.sub-news li {
  margin: 4px 0 0;
  padding: 4px;
}

.sub-news a {
  text-decoration: none;
}

.sub-news-img {
  object-fit: contain;
  width: 175px;
}

.sub-news h3 {
  font-size: 0.75rem;
  color: #020e65;
  line-height: 1rem;
  height: 2rem;
  width: 100%;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
